.movie-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie-wrap image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p.explain-align {
	max-width: 85%;
	margin: 0 auto;
	text-align: justify;
}

.arrow {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}

.ar-left {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	/* float: left; */
}

.ar-right {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	/* float: right; */
}

.inlineb {
	display: inline-block;
	vertical-align: top;
	max-width: 40%;
}

@media screen and (max-width: 460px){
	.none {display:none}
	.appear {display:inline-block}
}

@media screen and (min-width: 460px){
	.appear {display:none}
}